.border {
    border: 1px solid #f0f0f0;
}

.borderb {
    border-bottom: 1px solid #f0f0f0;
}

.ml30 {
    margin-left: 30px;
}
.inline {
    display: inline-block;
}

.ta-center {
    text-align: center;
}

.hidden {
    display: none !important;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.ln24 {
    line-height: 22px;
}

.mt2 {
    margin-top: 2px;
}

.bb {
    border-bottom: 1px solid #f0f0f0;
}

.pb5 {
    padding-bottom: 5px !important;
}

.mb5 {
    margin-bottom: 5px;
}

.bold {
   font-weight: bold; 
}

.label {
    font-weight: 700;
    font-size: 13px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f0f0f0;
}

.input {
    margin-top: 10px;
    line-height: 20px;
    height: 20px;
    width: 90%;
}

.truncate {
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    width: 100%
}

.divider--left {
    border-left: 1px solid #f0f0f0;
}

.level1 {
    background-color: #3f7e00;
}

.level2 {
    background-color: #5ba829;
}

.level3 {
    background-color: #9acd32;
}

.level4 {
    background-color: #ffefc3;
}

.pos-relative {
    position: relative;
}

.wrapper {
    zoom: 1;
    box-sizing: border-box;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: arial,helvetica,clean,sans-serif;
}

.wrapper .no-results-container {
    height: 380px;
}

.wrapper .right-container {
    display: block !important;
    padding-right: 0;
    width: 25%;
    box-sizing: border-box;
    float: left;
    position: relative;
    padding-left: 10px;
}

.wrapper .top-section {
    display: block !important;
    padding-right: 0;
    width: 100%;
    box-sizing: border-box;
    float: left;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
}

.wrapper .inner-container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

.wrapper .inner-container .results-container {
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
}
.grid-item {
    width: 284px;
    height: 200px;
    border: 1px solid #f0f0f0;
    display: inline-block;
    margin-left: 30px;
    float: left;
    margin-bottom: 30px;
}
.deal-hotel {
    margin-top: 15px;
    font-size: 16px;
    color: #55acee;
    max-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.deal-description {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: #3d3d39;
    max-height: 56px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.deal-destination {
    font-size: 12px;
    color: #8d8d8d;
}
.deal-stars {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
}
.deal-cost {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    color: #3d3d39;
    font-size: 20px;
    text-align: center;
}
.deal-no-savings {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 20px;
    line-height: 20px;
}

.deal-savings {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    font-size: 11px;
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    color: red;
    height: 20px;
    line-height: 20px;
}
.wrapper .pagination-bottom {
    margin-left: auto;
    margin-right: auto;
    width: 908px;
    overflow: hidden;
    background: #ffffff;
    border: none;
    margin-top: 1px;
    box-sizing: content-box;
    margin-bottom: 30px;
}

.wrapper .pagination-bottom .inner-page-left {
    padding-left: 0;
    margin-top: 10px;
    width: 18.75%;
    float: left;
    position: relative;
    padding-right: 10px;
    margin-left: 0px;
    font-size: 13px;
}

.wrapper .pagination-bottom .inner-page-right {
    float: right;
    font-size: 13px;
}    

.wrapper .pagination-bottom .inner-page-right ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}    

.wrapper .pagination-bottom .inner-page-right ul li {
    float: left;
    margin-right: 5px;
    border-radius: 3px;
    text-transform: capitalize;
    border: 1px solid #f0f0f0;
    text-align: center;
    font-size: 12px;
}

.wrapper .pagination-bottom li.disabled, .wrapper .pagination-bottom li.current, .wrapper .pagination-bottom li a {
    color: #cbcbcb;
    padding: 1px 7px;
    line-height: 27px;
    min-width: 15px;
    text-decoration: none;
}

.wrapper .pagination-bottom li.current {
    color: #ffffff;
    background: #4d4d4d;
    border-color: #4d4d4d;
    font-size: 14px;
    line-height: 27px;
    font-weight: 700; 
}

.wrapper .pagination-bottom .prev {
    display: none;
}    
.filter-rating {
    line-height: 20px;
    height: 20px;
    padding: 0 15px;
    color: #9a9a9a;
    border: 1px solid #e4e4e4;
    cursor: pointer !important;
    font-size: 13px;
    display: inline-block;
    border-radius: 3px;
}
.filter-tab {
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.sort-option {
    width: 92px;
    line-height: 23px;
    height: 23px;
    text-align: center;
    cursor: pointer;
}
.sort-options {
    position: absolute;
    top: 23px;
    left: 777px;
    z-index: 1000;
    background: white;
    border-radius: 3px;
    background: white;
    font-size: 13px;
    color: #9a9a9a;
    width: 92px;
}
.preselect-option {
    font-size: 13px;
    color: #9a9a9a;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    width: 92px;
    text-align: center;
    height: 23px;
    line-height: 23px;
}
.sort-options .sort-option:hover {
    background-color: #8d8d8d;
    color: white;
}
.selected-rating-filter {
    background-color: #8d8d8d;
    color: white;
}
.loading-img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 300px;
}
