<div id="navigation" data-width="155">
    <div class="nav-container">
        <h1>Deals</h1>

        <ul>
            <li>
                <button class="custom-appearance">Filter 1</button>
            </li>
            <li>
                <button class="custom-appearance">Filter 2</button>
            </li>
            <li>
                <button class="custom-appearance">Filter 3</button>
            </li>
            <li>
                <button class="custom-appearance">Filter 4</button>
            </li>
        </ul>
    </div>    
</div>    
